@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
	--color_window_chat: #212121;
	--color_message: #5e5858;
	--font: 'Montserrat', serif;
}
/* ---- reset ---- */
body {
	margin: 0;
	font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
	display: block;
	vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #393939;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
	background: #000022;
	position: absolute;
	top: 48px;
	left: 0;
	width: 80px;
	color: #13e8e9;
	font-size: 0.8em;
	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}
.js-count-particles {
	font-size: 1.1em;
}
#stats,
.count-particles {
	-webkit-user-select: none;
	margin-top: 5px;
	margin-left: 5px;
}
#stats {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}
.count-particles {
	border-radius: 0 0 3px 3px;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: rgb(174, 175, 170);
	background: linear-gradient(
		128deg,
		rgba(174, 175, 170, 1) 27%,
		rgba(106, 105, 102, 1) 38%,
		rgba(45, 41, 41, 1) 74%,
		rgba(141, 151, 153, 1) 100%
	); /* Фиолетово-розовый градиент */
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
	color: #ffb6c1; /* Бледно-розовый текст для контраста */
	min-height: 100vh;
	font-family: var(--font);
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.particlesBackground {
	z-index: -1;
}
main {
	z-index: 10;
}

@media (min-width: 768px) {
	header {
		display: block;
	}
	nav {
		background: rgba(33, 33, 33, 0.9);
		color: #ffffff;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 99.9vh;
		width: 20%;
		border-radius: 0 10px 30px 0;
		box-shadow: 0 0 15px white;
	}

	.settings,
	.our_dialog {
		text-align: center;
		font-weight: 400;
		font-size: 20px;
		padding: 1em;
		background-color: rgba(33, 33, 33, 0.8);

		border-radius: 0 10px 30px 0;
	}

	.ul_settings {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.ul_settings li {
		padding-top: 1.5em;
		cursor: pointer;
		color: #ffb6c1;
		transition: color 0.3s ease;
	}

	.ul_settings li:hover {
		color: white; /* Неоновый розовый при наведении */
	}
	.win_chat {
		margin-left: 5em;
	}
	.dialog_chat,
	.question_win {
		width: 60vw;
		border-radius: 30px;
	}
	.question_win {
		min-height: 5em;
		max-height: 10em;
	}
	textarea {
		margin: 2em;
	}
	.question_win .custom-file-upload,
	.send_message {
		margin: 2em;
	}
	textarea::placeholder {
		font-size: 20px;
	}
	.assistantMessage,
	.userMessage {
		font-size: 17px;
	}
}
/* Медиазапросы для уменьшения контейнера на разных экранах */
@media (max-width: 1200px) {
	.container_nav_and_main {
		display: flex;
		justify-content: space-between;
	}
}

@media (max-width: 992px) {
}
@media (max-width: 768px) {
	nav,
	.our_dialog,
	.settings,
	li {
		display: none;
	}
	header {
		display: block;
		height: 5vh;
		width: 100%;
		background-color: black;
	}

	.container_nav_and_main {
		justify-content: center;
	}
	.dialog_chat,
	.question_win {
		width: 100vw;
		border-radius: 20px;
	}
	.win_chat {
		margin-left: 0;
	}

	.question_win {
		min-height: 3em;
		max-height: 4em;
	}
	textarea {
		margin: 1em;
	}
	.question_win .custom-file-upload,
	.send_message {
		margin: 1em;
	}
	textarea::placeholder {
		font-size: 18px;
	}
	.assistantMessage,
	.userMessage {
		font-size: 10px;
	}
}

.container_nav_and_main {
	display: flex;
}

.container_win_chat_and_img {
	display: flex;
	justify-content: space-between;

	width: 100%;
}
.win_chat {
	display: flex;
	flex-direction: column;

	height: 100vh;
}

.dialog_chat {
	height: 100vh;
	background-color: var(--color_window_chat);
	margin-bottom: 2em;
}
/* Основной стиль контейнера */
.dialog_chat {
	position: relative;
	background-color: #1a1a1a;
	border-radius: 15px;
	overflow-y: auto;
	overflow-x: hidden;
}

/* Анимация для кружащего градиента */
@keyframes border-rotate {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
.question_win {
	background-color: var(--color_window_chat);

	margin-bottom: 1em;
	display: flex;
	resize: none; /* Отключает ручное изменение размера */
}
textarea {
	width: 100%;
	background: none;
	color: white;
	font-size: 15px;
	max-height: 5em;
	border: 0;
	outline: none;
	resize: none; /* Отключает ползунок изменения размера */
	overflow-y: auto;
}

.question_win .custom-file-upload {
	background-image: url('./img/q.svg');
}
.question_win .custom-file-upload,
.send_message {
	background-size: contain; /* Сохраняем пропорции изображения */
	background-repeat: no-repeat; /* Избегаем повторения картинки */
	background-position: center; /* Центрируем изображение */
	width: 3.5em; /* Задаем ширину кнопки */
	height: 3.5em; /* Соответствующая высота */
	padding: 0; /* Убираем лишние отступы */
	cursor: pointer;
}

.send_message {
	background-image: url('./img/q1.svg');
}

img {
	width: 100%;
	height: 8em;
}
.items_chat {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.container_item_userMessage {
	align-self: flex-end; /* Выравнивание справа для сообщений пользователя */
}

.container_item_userMessage,
.container_item_assistantMessage {
	display: flex;
	flex-direction: column;
}

.userMessage {
	width: auto;
	width: 70%; /* Ограничиваем ширину сообщения */
	margin-left: auto;
	padding: 0.5em 1em;
	background-color: var(--color_message);
	border-radius: 20px;
	color: white;
	align-self: flex-end;
	word-wrap: break-word; /* Переносим длинные слова */
	word-break: break-word; /* Перенос длинных строк */
}

.p_userMessage {
	margin-left: auto;
	width: min-content;
}
.assistantMessage {
	width: auto;
	max-width: 60%;
	padding: 0.5em 1em;
	background-color: gray; /* Цвет для сообщений ассистента */
	border-radius: 20px;
	color: white;

	word-wrap: break-word;
	align-self: flex-start; /* Выравнивание слева для сообщений ассистента */
}
